<h1>Drops associated with your API key:</h1>
<% if !@manager_info["drops"].nil? %>
<ul>

<% @manager_info["drops"].map {|drop| %>
	<li><%= link_to drop["name"], drop_path(drop["name"]) %></li>
<% } %>
</ul>
<%= link_to 'create a new drop', new_drop_path() %>
<% else %>
	No drops yet. <%= link_to 'create one', new_drop_path() %>
<% end %>