<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
 
<head> 
	<title>Dropio API demo</title>
	<style type="text/css">
		#assets{
			
		}
		body {
			background:#ddddff;
			margin:20px;
			padding:0;
			font-size:11px;
			font-family:sans-serif;
		}
		
	</style>
	
</head>
<body>

<%= javascript_include_tag :defaults %>

<div id="assets">
	<h2>Examining the drop <%= h(@drop.name) %></h2>
	There are <%= @howmany %> assets in this drop
		<br />
		<ul>
		<% @assets.map {|a| %>
			<li>
			<h3><%= a.name %></h3>
			<ul>
			<% a.roles.map {|r| %>
				<li>Role: <%= h(r["name"]) %>
					<ul>
					<% r["locations"].map {|loc| %>
						<li>Location: <%= h(loc["name"]) %></li>
						<% if r["name"] == "original_content" %>
							<% ocurl = "#{Dropio::Config.api_url}/drops/#{@drop.name}/assets/#{a.name}/download/original?api_key=#{Dropio::Config.api_key}&version=3.0#{"&location=" + loc["name"] unless loc["name"] == "DropioS3"}" %>
							<ul><li><a href="<%=ocurl%>">
							Direct Download</a> or via 
							<% cdnout = []
								Dropio::Config.enabled_cdns.map{|cdn|
								cdnout << "<a href=\"#{ocurl}&via=#{cdn}\">#{cdn}</a>"
							}%>
							<%=cdnout.join(", ")%>
							</li></ul>	
							<%# http://stage-api.drop.io/drops/locdemo/assets/img-1859-jpg/download/original?api_key=b4463a2fe38c73ec35ac783507f50107155c0329&version=3.0&location=sl_2e2f29b01a82012da16efe5f8802078d&via=akamai %>
						<% else %>
							<ul><li><a href="<%= loc["file_url"] %>">Direct Download</a> or via 
							<% cdnout = []
								Dropio::Config.enabled_cdns.map{|cdn|
								cdnout << "<a href=\"#{loc["file_url"]}?via=#{cdn}\">#{cdn}</a>"
							}%>
							<%=cdnout.join(", ")%></li></ul>
						<% end %>
					<% } %>
					</ul>
				</li>
			<% } %>
			</ul>
			</li>
		<% } %>
		</ul>
	<br /><br />

</div>
<script type="text/javascript">
	function makeol(){
		//alert('test');
		var chks = $$("input");
		var olval = [];
		chks.each( function( element ) {
			if(element.type == 'checkbox' && element.checked){
				//alert(element.value);
				olval.push(element.value);
			} 
		});
		$("olfield").value = olval.join(",");
	}
</script>
<div id="uploader">
	<h1>File Upload</h1>
	<form action="http://assets.drop.io/upload" enctype="multipart/form-data" method="post">
	
	<p><label for="file">Select File</label> : 
		<input type="file" name="file" id="file" /></p>
	<input type="hidden" name='api_key' value='<%=Dropio::Config.api_key%>' />
	<input type="hidden" name='version' value='3.0' />
	<input type="hidden" name='drop_name' value='<%=@drop.name %>' />
	<input type="hidden" name='redirect_to' value='<%= "http://" + request.env["HTTP_HOST"]  + request.request_uri %>' />
	Output Locations: 
	<% @output_locations.map {|ol| %> 
		<br />
		<input type="checkbox" name='output_location[<%= ol %>]' id="" value='<%= ol %>'  onclick="makeol()" <%= "checked" if ol == "DropioS3" %>/>
		<label for="output_location[<%= ol %>]" ><%= ol %></label>
		
	<% } %>
	<input type="hidden" name='output_locations' value='DropioS3' id='olfield' />
<br />	<input type="submit" /></form>
<br />	<br />	<br />	<br />

</div>

<%= link_to '&laquo back to drops list', drops_path() %>
	<br />
</body></html>

