
<%= javascript_include_tag :defaults %>

<div>
	Test view<br />
	<%= h(@drop.inspect) %>
	<%= h(@howmany.inspect) %>
	<%= h(@drop.assets.inspect) %>
	<%# @drop.assets.each do |a| %>
	 	<br /><br />Asset: <%# h(a.inspect) %>
	<%# end %>
	<%# h(@keys.inspect) %><br /><br />
	<br />
	<%# h(@response.inspect)%>
</div>